

<div class="container">
<h1>Welcome to Raven's Trade </h1>
<br>
<h4><i>In the shadows of power, where whispers travel on the wings of ravens, fortunes are made!</i></h4>
<br>
<%= link_to "Available Relics!", goods_path %>
<%= link_to "My Inventory!", dashboard_path %>
</div>
