<h1>Treasures of the Seven Kingdoms</h1>
<ul>
  <% @goods.each do |good| %>
    <li><%= link_to good.name, good_path(good) %></li>
  <% end %>
</ul>

<div class="container">
  <div class="btn btn-warning">
  <%= link_to "Add a Relic!", new_good_path %>
  </div>
  <%= link_to "My Inventory!", dashboard_path %>
</div>